working_builds/part_4/test_files/dtd_example_4.dtd

<!DOCTYPE employee [
        <!ELEMENT employee (name,designation, email)>
        <!ATTLIST employee id CDATA #REQUIRED>
        <!ELEMENT name (#PCDATA)>
        <!ELEMENT designation (#PCDATA)>
        <!ATTLIST designation discipline CDATA #IMPLIED>
        <!ELEMENT email (#PCDATA)>
        ]>

